# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Sistema operacional
.DS_Store
Thumbs.db